extends layout

block content
  div.book-list
    h1 BOOKS
    a.button(href='/books/new') Create New Book
    div#search-form 
      form(action='/books/search', method="GET")
        input#search-btn(type='submit', value='Search')
        input#search-input(placeholder='Search for a book..' type='text' name='search')
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href='/books/' + book.id)=book.title
            td=book.author
            td=book.genre
            td=book.year
    div.pagination