extends layout

block content
  div.book-detail
    if message == 'page'
      h3#no-results Sorry! We couldn&apos;t find the page you were looking for.   
    else if message == 'search'
      h3#no-results Sorry! There are no books here that match your search
    p
      a.button(href='/') Go Back
