extends layout

block content
  div.book-list
    h1 BOOKS
    div.menu
      a.button.create-book-btn(href='/books/new') Create New Book
    div.search-bar
      form(action='/books/search', method="GET")
        input#search-btn(type='submit', value='Search')
        input(placeholder='Search for a book..' type='text' name='search')
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
   